.app {
  background-color: #282c34;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
}

.overview-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.overview-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
}

.list-wrapper {
  display: flex;
  justify-content: center;
}

.list {
  border: 4px solid grey;
  height: 400px;
  width: 400px;
  background-color: white;
  overflow-y: auto;
  padding: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border-bottom: 1px solid;
  font-size: 14px;
  margin-bottom: 5px;
}

.item {
  display: flex;
  align-items: center;
}

.item-name {
  margin-left: 5px;
  font-size: 12px;
}

.item .completed {
  text-decoration: line-through;
}

.delete-button {
  cursor: pointer;
  background-color: red;
  color: black;
  outline: none;
  height: 18px;
  font-weight: bolder;
  font-size: 10px;
  border: 1px solid black;
  margin-right: 10px;
}

.delete-button:active {
  background-color: lightgrey;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 40px;
}

.input-button {
  margin-right: 20px;
  cursor: pointer;
  background-color: grey;
  color: white;
  font-weight: bold;
  outline: none;
  font-size: 16px;
}

.input-button:active {
  background-color: lightgrey;
}

.input-text {
  width: 300px;
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}
